{% if Basics %}
<div class="px-4 py-5">
  <div>
    {% if Basics.Image != null %}<img class="inline object-cover w-1/2 rounded-full" src="{{ Basics.Image }}" alt="{{ Basics.Name }}" />{% endif %}
    <h1 class="text-3xl font-bold mt-4">{{ Basics.Name }}</h1>
    <span class="text-gray-500">{{ Basics.Label }}</span>
  </div>

  {{ hr | raw }}
  
  <div class="grid grid-cols-1 gap-4">
    {% if Basics.Location %}
      <div>
        <ion-icon name="navigate-circle">Location</ion-icon> {{ Basics.Location.Address }}
      </div>
    {% endif %}
    {% if Basics.Phone %}
      <div>
        <ion-icon name="call">Phone</ion-icon>
        <a href="tel:{{ Basics.Phone }}">{{ Basics.Phone }}</a>
      </div>
    {% endif %}
    {% if Basics.Email %}
      <div>
        <ion-icon name="mail">Email</ion-icon>
        <a href="mailto:{{ Basics.Email }}">{{ Basics.Email }}</a>
      </div>
    {% endif %}
    {% if Basics.Url %}
      <div>
        <ion-icon name="open">Website</ion-icon>
        <a href="{{ Basics.Url }}">{{ Basics.Url }}</a>
      </div>
    {% endif %}
  </div>

  {% if Basics.Profiles %}
    {{ hr | raw }}
    <div class="flex justify-center space-x-4">
      {% for profile in Basics.Profiles %}
        {% if profile.Network == "LinkedIn" %}
          <div class="text-blue-800">
            <a href="{{ profile.Url }}">
              <ion-icon name="logo-linkedin" size="large"></ion-icon>
            </a>
          </div>
        {% endif %}
        {% if profile.Network == "Twitter" %}
          <div class="text-blue-400">
            <a href="{{ profile.Url }}">
              <ion-icon name="logo-twitter" size="large"></ion-icon>
            </a>
          </div>
        {% endif %}
        {% if profile.Network == "Github" %}
          <div class="text-black">
            <a href="{{ profile.Url }}">
              <ion-icon name="logo-github" size="large"></ion-icon>
            </a>
          </div>
        {% endif %}
        {% if profile.Network == "StackOverflow" %}
          <div class="text-yellow-600">
            <a href="{{ profile.Url }}">
              <ion-icon name="logo-stackoverflow" size="large"></ion-icon>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endif %}